.main {
    background-color: rgb(236, 198, 127);
    border: 1px double black;
    width: 140px;
    min-width: 140px;
}

.noHover{
    pointer-events: none;
}

* {
    user-select: none;
}

#mana0 {
    opacity: 70%;
    pointer-events: none;
}